<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script type="text/javascript">
    console.log("送信ボタンを押して下さい");
    var sock = new WebSocket('wss://www.websocket-server.link/');

    sock.addEventListener('open',function(e){// 接続
        console.log('Socket 接続成功');
    });

    sock.addEventListener('message',function(e){// サーバーからデータを受け取る
        console.log(e.data);
    });

    document.addEventListener('DOMContentLoaded',function(e){
        document.getElementById('sample').addEventListener('click',function(e){
            console.log("send Hello!!");
            sock.send('hello');// WebSocketでサーバーに文字列を送信
        });
    });
</script>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>websocket is working</p>
  </body>
</html>
